.tips {
  min-width: 120px;
  width: 70%;
  height: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 5px;
  background-color: rgb(226, 75, 108);
  color: #ffffff;
  font-size: 12px;
}