.ellipsis {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 400px;
    .single, .much {
      width: 500px;
      height: 200px;
      .text-body {
        height: 150px;
      }
    }
    .single {
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .much {
      p {
        overflow: hidden;
        position: relative;
        max-height: 90px;
        line-height: 30px;
        &::after {
          position: absolute;
          right: 0;
          bottom: 0;
          content: "...";
        }
      }
    }
  }
}